@import "./common/color";
@import "./common/font";
@import "./common/keyframe";
@import "./common/unitTransform";

$mobile-size: null;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: $G100;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "SUIT", -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif !important;
}

button {
  cursor: pointer;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, system-ui;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

ul {
  &.dot-style {
    margin-left: 1.25rem;
    list-style-type: disc;
    li {
      margin: none !important;
    }
  }
}

p {
  line-height: 1.4;
  word-break: keep-all;
}

b {
  font-weight: 700;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}
.mo-only {
  display: none !important;
}
.color-white {
  color: $G00;
}
.container {
  width: 100%;
  max-width: 62.5rem;
  margin: 0 auto;
}

section {
  color: $G00;
  background: #020202;
  .container {
    display: flex;
    flex-direction: column;
    column-count: auto;
    gap: 2rem;
    padding: 5rem 0 7.5rem 0;

    .title {
      display: flex;
      flex-direction: column;
      column-count: auto;
      gap: 1rem;

      h5 {
        font-size: 2.5rem;
        font-weight: 800;
        letter-spacing: -0.4px;
      }
      p {
        font-size: 1.25rem;
        font-weight: 300;
        color: $G20;
      }
    }
  }
}
#Main {
  position: relative;
  background: url("https://www.squp.kr/2024/assets/images/hero_bg.png") no-repeat center right, #000000;
  background-size: cover;

  .main-content {
    .container {
      position: relative;
      display: flex;
      flex-direction: column;
      column-count: auto;
      gap: 3.125rem;
      padding: 9.375rem 0;
      height: 100%;
    }

    .title {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      column-count: auto;
      gap: 1.5rem;
      color: $G00;

      span {
        font-size: 1.5rem;
        font-weight: 300;
      }
      h1 {
        font-size: 3.75rem;
        font-weight: 700;
        letter-spacing: -1px;
        line-height: 1.4;
      }

      .raon-logo {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .text-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      column-count: auto;
      gap: 1.5rem;
      color: $G00;

      ol {
        display: flex;
        flex-direction: column;
        column-count: auto;
        gap: 1rem;
        li {
          display: flex;
          align-items: center;
          column-count: auto;
          gap: 1.25rem;
          p {
            font-size: 1rem;
            font-weight: 400;
            color: $G00;
            &.label {
              max-width: 3rem;
              color: #24b0c9;
              letter-spacing: 1.25rem;
            }
          }
          span.line {
            display: block;
            width: 1px;
            height: 1rem;
            background: #24b0c9;
          }
        }
      }
    }
  }

  // .overlay {
  //   padding: 2rem 0;
  //   background: rgba($G100, 0.6);
  //   color: $G00;

  //   .container {
  //     display: flex;
  //     column-count: auto;
  //     justify-content: center;
  //     gap: 5rem;
  //   }

  //   ul {
  //     display: flex;
  //     column-count: auto;
  //     align-items: center;
  //     gap: 1rem;

  //     li {
  //       display: flex;
  //       align-items: center;
  //       font-size: 1.25rem;
  //       white-space: nowrap;

  //       &:first-child {
  //         &::after {
  //           content: "";
  //           display: inline-block;
  //           width: 1px;
  //           height: 1.25rem;
  //           background: $G00;
  //           margin-left: 0.5rem;
  //         }
  //       }

  //       img {
  //         height: 2.5rem;
  //       }
  //     }
  //   }
  // }
}
#Section01 {
  background: #001a38;

  .content-group {
    display: flex;
    column-count: auto;
    gap: 3.75rem;
    .content-img {
      width: 20.625rem;
    }
    .text-item {
      display: flex;
      flex-direction: column;
      column-count: auto;
      gap: 1.5rem;
      max-width: 40rem;

      span.line {
        display: block;
        height: 1px;
        background: $line-G40;
      }

      h5 {
        font-size: 2.875rem;
        font-weight: 700;
        line-height: 1.2;
        color: $G00;
      }

      ul {
        display: flex;
        flex-direction: column;
        column-count: auto;
        gap: 2rem;
        li {
          p {
            font-size: 20px;
            font-weight: 400;
            line-height: 1.5;
            color: $G40;
            letter-spacing: -1px;
            word-break: keep-all;
          }
        }
      }
    }
  }

  .button-group {
    display: flex;
    justify-content: center;
  }
}
#Section02 {
  background: url("https://www.squp.kr/2024/assets/images/section_02_bg.png") no-repeat center center,
    // $G100;
    linear-gradient(90deg, #00060a 30%, #000000);
  background-size: contain;
  .button-group {
    display: flex;
    justify-content: center;
  }
}
#Section04 {
  background: url("https://www.squp.kr/2024/assets/images/section_04_bg.png") no-repeat center center,
    #001a38;
  background-size: contain;
  .container {
    position: relative;
  }

  .item-wrapper {
    display: flex;
    flex-direction: column;
    column-count: auto;
    gap: 1.25rem;
  }

  .event-item {
    flex: 1;
    position: relative;
    display: flex;
    align-items: flex-start;
    column-count: auto;
    gap: 1.5rem;
    padding: 2.5rem;
    background: rgba($color: $G00, $alpha: 0.16);
    border: 1px solid $G40;
    border-radius: 0.875rem;
    box-shadow: 0px 0px 40px 0px rgba(0, 140, 221, 0.2);
    z-index: 1;

    .text-item {
      flex: 1;
      display: flex;
      flex-direction: column;
      column-count: auto;
      gap: 1.5rem;
      color: $G20;

      .item-title {
        display: flex;
        flex-direction: column;
        column-count: auto;
        gap: 0.75rem;
        span {
          display: block;
          font-size: 1rem;
          letter-spacing: -0.5px;
        }
        h5 {
          position: relative;
          font-size: 2rem;
          line-height: 1.4;
          padding-left: 1rem;

          &::before {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            content: "";
            width: 1px;
            height: 60%;
            background: #008cdd;
          }
        }
      }

      p {
        font-size: 1.25rem;
        line-height: 1.6;
        color: $G30;
      }
    }
    &:nth-child(2) {
      min-height: 16.25rem;
      .event-img {
        height: 9.625rem;
      }
    }
    &:nth-child(3) {
      .event-img {
        height: 12 8125rem;
      }
    }
    .event-img {
      height: 15rem;
    }
  }

  .button-group {
    display: flex;
    justify-content: center;
  }
}
#Section05 {
  background: #112236;
  .container {
    gap: 3.75rem;
  }

  .text-item {
    display: flex;
    flex-direction: column;
    column-count: auto;
    gap: 1rem;
    h5 {
      font-size: 1.25rem;
      letter-spacing: -0.5px;
      color: $G20;
    }
    li {
      font-size: 0.875rem;
      line-height: 1.6;
      letter-spacing: -0.5px;
      color: $G40;
    }
  }
}
#Section06 {
  display: flex;
  align-items: center;
  background: url("https://www.squp.kr/2024/assets/images/section_06_bg.png") no-repeat center center,
    linear-gradient(#011113 70%, #041d24);
  background-size: contain;

  .container {
    align-items: center;
    gap: 4rem;
    padding: 6rem 0;

    .title {
      h5 {
        font-size: 2rem;
        font-weight: 400;
      }
    }
  }
  .button-group {
    display: flex;
    flex-direction: column;
    column-count: auto;
    gap: 1.5rem;
    margin-top: unset;
    button {
      cursor: pointer;
      width: 15rem;
      height: 4.375rem;
      font-size: 1.25rem;
      font-weight: 500;
      color: $G00;
      border-radius: 6.25rem;
      background: linear-gradient(
        90deg,
        #008cdd 0%,
        #0066a0 24%,
        #003655 77.5%,
        #01193f 100%
      );
    }
  }
}

footer {
  position: relative;
  background: #001927;
  color: $G00;
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    column-count: auto;
    gap: 1.875rem;
    padding: 3.25rem 0;
  }
  .top {
    display: flex;
    flex-direction: column;
    column-count: auto;
    gap: 0.5rem;
    font-weight: 700;
    h5 {
      font-size: 1.25rem;
      line-height: 1.8;
    }
    p {
      font-size: 0.875rem;
      color: #a39cb3;

      a {
        color: #a39cb3;
        text-decoration: unset;
      }
    }
  }

  .sns {
    position: absolute;
    top: 4rem;
    right: 0;
    ul {
      display: flex;
      align-items: center;
      column-count: auto;
      gap: 1rem;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        background: #3c2d5d;
      }
    }
  }

  .footer-list {
    position: relative;
    display: flex;
    flex-direction: column;
    column-count: auto;
    gap: 0.375rem;
    ul {
      display: flex;
      align-items: center;
      column-count: auto;
      gap: 1rem;

      li {
        display: flex;
        column-count: auto;
        align-items: center;
        gap: 0.375rem;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: -0.5px;
        color: #ddd;

        p {
          color: #aaa;
          line-height: 1.5;
        }
      }
    }

    .family-site {
      position: absolute;
      top: 0;
      right: 0;

      &.show {
        .site-title {
          border-radius: 0 0 0.375rem 0.375rem;
          span.chevron-down {
            transform: rotate(180deg);
          }
        }
        .site-list {
          border-radius: 0.375rem 0.375rem 0 0;
          border-bottom: unset;
          display: block;
          opacity: 1;
        }
      }

      .site-title {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 11.25rem;
        height: 2.625rem;
        border-radius: 0.375rem;
        border: 1px solid $G30;
        padding: 0.5rem 1.25rem;
        background: #001927;
        z-index: 2;
        p {
          color: #aaa;
        }
        span.chevron-down {
          display: flex;
          align-items: center;
          transition: all 0.3s;
        }
      }
      .site-list {
        position: absolute;
        bottom: 2.625rem;
        width: 100%;
        background: #001927;
        border-radius: 0.375rem;
        border: 1px solid $G30;
        display: none;
        opacity: 0;
        animation: SiteUp 0.3s ease;
        z-index: 1;
        ul {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: unset;
          li {
            width: 100%;
            &:hover {
              background: rgba($color: $G00, $alpha: 0.1);
            }
            a {
              width: 100%;
              font-size: 1rem;
              padding: 0.5rem 1.25rem;
              color: #aaa;
              text-decoration: unset;
            }
          }
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    .raon-logo {
      height: 2.5rem;
    }
    .copyright {
      font-size: 0.875rem;
      line-height: 1.5;
      color: #666;
    }
  }
}
.button-group {
  margin-top: 3.125rem;
  button.btn-pre {
    width: 9.625rem;
    height: 3.25rem;
    font-size: 1rem;
    font-weight: 600;
    color: $G00;
    padding: 1rem;
    border-radius: 6.25rem;
    background: #008cdd;
  }
}
.item-group {
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 0.75rem;

  &.left {
    top: 25%;
    right: 36%;
  }
  &.right {
    right: 10%;
  }
}
.item-box {
  display: flex;
  flex-direction: column;
  // align-items: center;
  align-items: flex-start;
  column-count: auto;
  gap: 1rem;
  width: 17.5rem;
  height: 15rem;
  padding: 2rem;
  border-radius: 0.875rem;
  background: #020202;
  box-shadow: 0px 0px 20px 0px rgba(0, 140, 221, 0.3);

  .thumb {
    width: 8.75rem;
    height: 8.75rem;
    border-radius: 50%;
    overflow: hidden;
  }

  p.name {
    position: relative;
    font-size: 1.125rem;
    font-weight: 800;
    color: $G40;
    padding-left: 1.25rem;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: "";
      width: 1px;
      height: 20px;
      background: #008cdd;
    }
  }

  li {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
  }
}

.table-wrapper {
  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    th,
    td {
      p {
        font-size: 0.875rem;
      }
    }

    .time {
      width: 7.5rem;
    }
    .required {
      width: 6rem;
    }
    .content {
      width: 38.375rem;
    }
    .speaker {
      width: 15.625rem;
    }

    tr {
      &:last-child {
        td {
          &.time {
            border: none;
          }
          border-bottom: 1px solid #595b7e;
        }
      }
    }

    th {
      font-weight: 700;
      color: $G20;
      height: 2.75rem;
      vertical-align: middle;

      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        column-count: auto;
        gap: 0.25rem;

        i.icon {
          display: flex;
          width: 0.875rem;
          height: 0.875rem;
        }
      }

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        column-count: auto;
        gap: 0.25rem;
      }
    }

    td {
      font-size: 0.875rem;
      border-top: 1px solid #595b7e;

      &.time {
        font-size: 1rem;
        text-align: center;
        font-weight: 700;
        color: $G30;
        border: none;
      }
      &.required {
        text-align: center;
        font-weight: 700;
        color: $G40;
      }
      &.content,
      &.speaker {
        font-weight: 500;
        > div {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          column-count: auto;
          gap: 0.5rem;
          padding: 0.75rem 0;

          p {
            width: 100%;
            font-size: 0.875rem;
            font-weight: 700;
            padding-left: 1.375rem;
            padding-right: 1rem;
            letter-spacing: -0.5px;
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0.375rem;
            height: 100%;
            border-radius: 0.375rem 0 0 0.375rem;
            overflow: hidden;
          }
          &.table-bg-green {
            justify-content: center;
            color: $table-color-green;
            // background: rgba($color: $table-bg-green, $alpha: 0.1);
            &::before {
              background: $table-marker-green;
            }
            p {
              font-weight: 500;
            }
          }
          &.table-bg-lightblue {
            color: $G00;
            background: rgba($color: $G00, $alpha: 0.1);
            &::before {
              background: $table-marker-lightblue;
            }
          }
          &.table-bg-blue {
            color: $table-color-blue;
            background: rgba($color: $table-marker-blue, $alpha: 0.1);
            &::before {
              background: $table-marker-blue;
            }
            p {
              font-weight: 500;
            }
          }
        }

        &.colspan {
          p {
            text-align: center;
          }
        }
      }
    }
  }
}

.fade {
  // opacity: 0;
  // transition: all 1s;
  // transform: translate(0, 100px);

  &.visible {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.scroll-icon,
.scroll-icon:before {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scroll-icon {
  width: 2.5rem;
  height: 64px;
  bottom: 1rem;
  border: 1px solid $G30;
  border-radius: 28px;
}

.scroll-icon:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $G30;
  top: 8px;
  left: 20px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 70px;
  }
}

@import "./desktop.scss";
@import "./mobile.scss";
