@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");
@font-face {
  font-family: "SUIT";
  font-weight: 100;
  src: url("../../fonts/SUIT/SUIT-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 200;
  src: url("../../fonts/SUIT/SUIT-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 300;
  src: url("../../fonts/SUIT/SUIT-Light.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 400;
  src: url("../../fonts/SUIT/SUIT-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 500;
  src: url("../../fonts/SUIT/SUIT-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 600;
  src: url("../../fonts/SUIT/SUIT-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 700;
  src: url("../../fonts/SUIT/SUIT-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 800;
  src: url("../../fonts/SUIT/SUIT-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 900;
  src: url("../../fonts/SUIT/SUIT-Heavy.woff2") format("woff2");
}
@keyframes OpacityAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Scale {
  50% {
    transform: scale(0.9);
  }
}
@keyframes FadeInDown {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes SlideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes SiteDown {
  to {
    transform: translateY(40px);
  }
  from {
    transform: translateY(0);
  }
}
@keyframes SiteUp {
  from {
    transform: translateY(40px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes SideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes SideLeftHidden {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
    display: none;
  }
}
/* vw 변환 function */
/* rem 변환 function */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "SUIT", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

button {
  cursor: pointer;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, system-ui;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

ul.dot-style {
  margin-left: 1.25rem;
  list-style-type: disc;
}
ul.dot-style li {
  margin: none !important;
}

p {
  line-height: 1.4;
  word-break: keep-all;
}

b {
  font-weight: 700;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.mo-only {
  display: none !important;
}

.color-white {
  color: #ffffff;
}

.container {
  width: 100%;
  max-width: 62.5rem;
  margin: 0 auto;
}

section {
  color: #ffffff;
  background: #020202;
}
section .container {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 2rem;
  padding: 5rem 0 7.5rem 0;
}
section .container .title {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 1rem;
}
section .container .title h5 {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: -0.4px;
}
section .container .title p {
  font-size: 1.25rem;
  font-weight: 300;
  color: #efefef;
}

#Main {
  position: relative;
  background: url("https://artiiisoot.github.io/squp_2024/assets/images/hero_bg.png") no-repeat center right, #000000;
  background-size: cover;
}
#Main .main-content .container {
  position: relative;
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 3.125rem;
  padding: 9.375rem 0;
  height: 100%;
}
#Main .main-content .title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-count: auto;
  gap: 1.5rem;
  color: #ffffff;
}
#Main .main-content .title span {
  font-size: 1.5rem;
  font-weight: 300;
}
#Main .main-content .title h1 {
  font-size: 3.75rem;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.4;
}
#Main .main-content .title .raon-logo {
  position: absolute;
  top: 0;
  right: 0;
}
#Main .main-content .text-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-count: auto;
  gap: 1.5rem;
  color: #ffffff;
}
#Main .main-content .text-item ol {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 1rem;
}
#Main .main-content .text-item ol li {
  display: flex;
  align-items: center;
  column-count: auto;
  gap: 1.25rem;
}
#Main .main-content .text-item ol li p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}
#Main .main-content .text-item ol li p.label {
  max-width: 3rem;
  color: #24b0c9;
  letter-spacing: 1.25rem;
}
#Main .main-content .text-item ol li span.line {
  display: block;
  width: 1px;
  height: 1rem;
  background: #24b0c9;
}

#Section01 {
  background: #001a38;
}
#Section01 .content-group {
  display: flex;
  column-count: auto;
  gap: 3.75rem;
}
#Section01 .content-group .content-img {
  width: 20.625rem;
}
#Section01 .content-group .text-item {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 1.5rem;
  max-width: 40rem;
}
#Section01 .content-group .text-item span.line {
  display: block;
  height: 1px;
  background: #d9d9d9;
}
#Section01 .content-group .text-item h5 {
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}
#Section01 .content-group .text-item ul {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 2rem;
}
#Section01 .content-group .text-item ul li p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #bfbfbf;
  letter-spacing: -1px;
  word-break: keep-all;
}
#Section01 .button-group {
  display: flex;
  justify-content: center;
}

#Section02 {
  background: url("https://artiiisoot.github.io/squp_2024/assets/images/section_02_bg.png") no-repeat center center, linear-gradient(90deg, #00060a 30%, #000000);
  background-size: contain;
}
#Section02 .button-group {
  display: flex;
  justify-content: center;
}

#Section04 {
  background: url("https://artiiisoot.github.io/squp_2024/assets/images/section_04_bg.png") no-repeat center center, #001a38;
  background-size: contain;
}
#Section04 .container {
  position: relative;
}
#Section04 .item-wrapper {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 1.25rem;
}
#Section04 .event-item {
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-start;
  column-count: auto;
  gap: 1.5rem;
  padding: 2.5rem;
  background: rgba(255, 255, 255, 0.16);
  border: 1px solid #bfbfbf;
  border-radius: 0.875rem;
  box-shadow: 0px 0px 40px 0px rgba(0, 140, 221, 0.2);
  z-index: 1;
}
#Section04 .event-item .text-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 1.5rem;
  color: #efefef;
}
#Section04 .event-item .text-item .item-title {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 0.75rem;
}
#Section04 .event-item .text-item .item-title span {
  display: block;
  font-size: 1rem;
  letter-spacing: -0.5px;
}
#Section04 .event-item .text-item .item-title h5 {
  position: relative;
  font-size: 2rem;
  line-height: 1.4;
  padding-left: 1rem;
}
#Section04 .event-item .text-item .item-title h5::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  width: 1px;
  height: 60%;
  background: #008cdd;
}
#Section04 .event-item .text-item p {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #dedede;
}
#Section04 .event-item:nth-child(2) {
  min-height: 16.25rem;
}
#Section04 .event-item:nth-child(2) .event-img {
  height: 9.625rem;
}
#Section04 .event-item:nth-child(3) .event-img {
  height: 12 8125rem;
}
#Section04 .event-item .event-img {
  height: 15rem;
}
#Section04 .button-group {
  display: flex;
  justify-content: center;
}

#Section05 {
  background: #112236;
}
#Section05 .container {
  gap: 3.75rem;
}
#Section05 .text-item {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 1rem;
}
#Section05 .text-item h5 {
  font-size: 1.25rem;
  letter-spacing: -0.5px;
  color: #efefef;
}
#Section05 .text-item li {
  font-size: 0.875rem;
  line-height: 1.6;
  letter-spacing: -0.5px;
  color: #bfbfbf;
}

#Section06 {
  display: flex;
  align-items: center;
  background: url("https://artiiisoot.github.io/squp_2024/assets/images/section_06_bg.png") no-repeat center center, linear-gradient(#011113 70%, #041d24);
  background-size: contain;
}
#Section06 .container {
  align-items: center;
  gap: 4rem;
  padding: 6rem 0;
}
#Section06 .container .title h5 {
  font-size: 2rem;
  font-weight: 400;
}
#Section06 .button-group {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 1.5rem;
  margin-top: unset;
}
#Section06 .button-group button {
  cursor: pointer;
  width: 15rem;
  height: 4.375rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: #ffffff;
  border-radius: 6.25rem;
  background: linear-gradient(90deg, #008cdd 0%, #0066a0 24%, #003655 77.5%, #01193f 100%);
}

footer {
  position: relative;
  background: #001927;
  color: #ffffff;
}
footer .container {
  position: relative;
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 1.875rem;
  padding: 3.25rem 0;
}
footer .top {
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 0.5rem;
  font-weight: 700;
}
footer .top h5 {
  font-size: 1.25rem;
  line-height: 1.8;
}
footer .top p {
  font-size: 0.875rem;
  color: #a39cb3;
}
footer .top p a {
  color: #a39cb3;
  text-decoration: unset;
}
footer .sns {
  position: absolute;
  top: 4rem;
  right: 0;
}
footer .sns ul {
  display: flex;
  align-items: center;
  column-count: auto;
  gap: 1rem;
}
footer .sns ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background: #3c2d5d;
}
footer .footer-list {
  position: relative;
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 0.375rem;
}
footer .footer-list ul {
  display: flex;
  align-items: center;
  column-count: auto;
  gap: 1rem;
}
footer .footer-list ul li {
  display: flex;
  column-count: auto;
  align-items: center;
  gap: 0.375rem;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.5px;
  color: #ddd;
}
footer .footer-list ul li p {
  color: #aaa;
  line-height: 1.5;
}
footer .footer-list .family-site {
  position: absolute;
  top: 0;
  right: 0;
}
footer .footer-list .family-site.show .site-title {
  border-radius: 0 0 0.375rem 0.375rem;
}
footer .footer-list .family-site.show .site-title span.chevron-down {
  transform: rotate(180deg);
}
footer .footer-list .family-site.show .site-list {
  border-radius: 0.375rem 0.375rem 0 0;
  border-bottom: unset;
  display: block;
  opacity: 1;
}
footer .footer-list .family-site .site-title {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 11.25rem;
  height: 2.625rem;
  border-radius: 0.375rem;
  border: 1px solid #dedede;
  padding: 0.5rem 1.25rem;
  background: #001927;
  z-index: 2;
}
footer .footer-list .family-site .site-title p {
  color: #aaa;
}
footer .footer-list .family-site .site-title span.chevron-down {
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
footer .footer-list .family-site .site-list {
  position: absolute;
  bottom: 2.625rem;
  width: 100%;
  background: #001927;
  border-radius: 0.375rem;
  border: 1px solid #dedede;
  display: none;
  opacity: 0;
  animation: SiteUp 0.3s ease;
  z-index: 1;
}
footer .footer-list .family-site .site-list ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: unset;
}
footer .footer-list .family-site .site-list ul li {
  width: 100%;
}
footer .footer-list .family-site .site-list ul li:hover {
  background: rgba(255, 255, 255, 0.1);
}
footer .footer-list .family-site .site-list ul li a {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  color: #aaa;
  text-decoration: unset;
}
footer .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .bottom .raon-logo {
  height: 2.5rem;
}
footer .bottom .copyright {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #666;
}

.button-group {
  margin-top: 3.125rem;
}
.button-group button.btn-pre {
  width: 9.625rem;
  height: 3.25rem;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  padding: 1rem;
  border-radius: 6.25rem;
  background: #008cdd;
}

.item-group {
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  column-count: auto;
  gap: 0.75rem;
}
.item-group.left {
  top: 25%;
  right: 36%;
}
.item-group.right {
  right: 10%;
}

.item-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-count: auto;
  gap: 1rem;
  width: 17.5rem;
  height: 15rem;
  padding: 2rem;
  border-radius: 0.875rem;
  background: #020202;
  box-shadow: 0px 0px 20px 0px rgba(0, 140, 221, 0.3);
}
.item-box .thumb {
  width: 8.75rem;
  height: 8.75rem;
  border-radius: 50%;
  overflow: hidden;
}
.item-box p.name {
  position: relative;
  font-size: 1.125rem;
  font-weight: 800;
  color: #bfbfbf;
  padding-left: 1.25rem;
}
.item-box p.name::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  width: 1px;
  height: 20px;
  background: #008cdd;
}
.item-box li {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
}

.table-wrapper table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.table-wrapper table th p,
.table-wrapper table td p {
  font-size: 0.875rem;
}
.table-wrapper table .time {
  width: 7.5rem;
}
.table-wrapper table .required {
  width: 6rem;
}
.table-wrapper table .content {
  width: 38.375rem;
}
.table-wrapper table .speaker {
  width: 15.625rem;
}
.table-wrapper table tr:last-child td {
  border-bottom: 1px solid #595b7e;
}
.table-wrapper table tr:last-child td.time {
  border: none;
}
.table-wrapper table th {
  font-weight: 700;
  color: #efefef;
  height: 2.75rem;
  vertical-align: middle;
}
.table-wrapper table th > div {
  display: flex;
  align-items: center;
  justify-content: center;
  column-count: auto;
  gap: 0.25rem;
}
.table-wrapper table th > div i.icon {
  width: 0.875rem;
  height: 0.875rem;
}
.table-wrapper table th p {
  display: flex;
  align-items: center;
  justify-content: center;
  column-count: auto;
  gap: 0.25rem;
}
.table-wrapper table td {
  font-size: 0.875rem;
  border-top: 1px solid #595b7e;
}
.table-wrapper table td.time {
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  color: #dedede;
  border: none;
}
.table-wrapper table td.required {
  text-align: center;
  font-weight: 700;
  color: #bfbfbf;
}
.table-wrapper table td.content, .table-wrapper table td.speaker {
  font-weight: 500;
}
.table-wrapper table td.content > div, .table-wrapper table td.speaker > div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  column-count: auto;
  gap: 0.5rem;
  padding: 0.75rem 0;
}
.table-wrapper table td.content > div p, .table-wrapper table td.speaker > div p {
  width: 100%;
  font-size: 0.875rem;
  font-weight: 700;
  padding-left: 1.375rem;
  padding-right: 1rem;
  letter-spacing: -0.5px;
}
.table-wrapper table td.content > div::before, .table-wrapper table td.speaker > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.375rem;
  height: 100%;
  border-radius: 0.375rem 0 0 0.375rem;
  overflow: hidden;
}
.table-wrapper table td.content > div.table-bg-green, .table-wrapper table td.speaker > div.table-bg-green {
  justify-content: center;
  color: #68E8FF;
}
.table-wrapper table td.content > div.table-bg-green::before, .table-wrapper table td.speaker > div.table-bg-green::before {
  background: #24b0c9;
}
.table-wrapper table td.content > div.table-bg-green p, .table-wrapper table td.speaker > div.table-bg-green p {
  font-weight: 500;
}
.table-wrapper table td.content > div.table-bg-lightblue, .table-wrapper table td.speaker > div.table-bg-lightblue {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}
.table-wrapper table td.content > div.table-bg-lightblue::before, .table-wrapper table td.speaker > div.table-bg-lightblue::before {
  background: #5272e9;
}
.table-wrapper table td.content > div.table-bg-blue, .table-wrapper table td.speaker > div.table-bg-blue {
  color: #9AB0FF;
  background: rgba(62, 100, 241, 0.1);
}
.table-wrapper table td.content > div.table-bg-blue::before, .table-wrapper table td.speaker > div.table-bg-blue::before {
  background: #3E64F1;
}
.table-wrapper table td.content > div.table-bg-blue p, .table-wrapper table td.speaker > div.table-bg-blue p {
  font-weight: 500;
}
.table-wrapper table td.content.colspan p, .table-wrapper table td.speaker.colspan p {
  text-align: center;
}

.fade.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.scroll-icon,
.scroll-icon:before {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scroll-icon {
  width: 2.5rem;
  height: 64px;
  bottom: 1rem;
  border: 1px solid #dedede;
  border-radius: 28px;
}

.scroll-icon:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #dedede;
  top: 8px;
  left: 20px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 70px;
  }
}
@media (max-width: 1600px) {
  #Section06 {
    background-size: cover;
  }
}
@media (max-width: 1024px) {
  body {
    font-size: 3.125vw;
  }
  .mo-only {
    display: block !important;
  }
  .container {
    width: 100%;
    max-width: unset;
    margin: 0 auto;
    padding: 0 3.90625vw;
  }
  section .container {
    gap: 3.125vw;
    padding: 7.8125vw 3.90625vw;
  }
  section .container .title {
    gap: 1.5625vw;
  }
  section .container .title h5 {
    font-size: 3.515625vw;
  }
  section .container .title p {
    font-size: 2.34375vw;
  }
  #Main {
    background: url("/assets/images/hero_bg.png") no-repeat bottom left 40%, #000000;
    background-size: 180%;
  }
  #Main .main-content .container {
    gap: 6.25vw;
    padding: 3.90625vw 3.90625vw 23.4375vw 3.90625vw;
  }
  #Main .main-content .raon-logo {
    top: 3.90625vw;
    right: 3.90625vw;
    height: 3.90625vw;
  }
  #Main .main-content .title {
    gap: unset;
  }
  #Main .main-content .title span {
    font-size: 3.125vw;
  }
  #Main .main-content .title h1 {
    font-size: 4.6875vw;
  }
  #Main .main-content .title h5 {
    font-size: 2.734375vw;
  }
  #Main .main-content .text-item {
    gap: unset;
  }
  #Main .main-content .text-item ol {
    gap: 1.5625vw;
  }
  #Main .main-content .text-item ol li {
    gap: 0.78125vw;
  }
  #Main .main-content .text-item ol li p {
    font-size: 2.34375vw;
  }
  #Main .main-content .text-item ol li p.label {
    max-width: 7.03125vw;
    letter-spacing: 2.734375vw;
  }
  #Section01 {
    padding-bottom: 7.8125vw;
  }
  #Section01 .container {
    gap: 6.25vw;
    padding: unset;
  }
  #Section01 .content-group {
    flex-direction: column;
    gap: 6.25vw;
  }
  #Section01 .content-group .content-img {
    width: 100%;
  }
  #Section01 .content-group .text-item {
    padding: 0 3.90625vw;
    align-items: flex-start;
    gap: 4.6875vw;
    max-width: unset;
  }
  #Section01 .content-group .text-item span.line {
    display: block;
    width: 100%;
  }
  #Section01 .content-group .text-item h5 {
    font-size: 4.6875vw;
    line-height: 1.2;
    letter-spacing: -0.5px;
    color: #dedede;
  }
  #Section01 .content-group .text-item ul {
    gap: 4.6875vw;
  }
  #Section01 .content-group .text-item ul li p {
    font-size: 2.34375vw;
    line-height: 1.5;
    letter-spacing: -0.5px;
  }
  #Section02 .container {
    overflow: hidden;
    gap: 5.859375vw;
  }
  #Section02 .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
  }
  #Section03 {
    display: none;
  }
  #Section04 {
    background: #001a38;
  }
  #Section04 .container {
    gap: 5.859375vw;
  }
  #Section04 .event-item {
    gap: unset;
    padding: 3.90625vw;
    border-radius: 1.953125vw;
    background: rgba(255, 255, 255, 0.1);
  }
  #Section04 .event-item .event-img {
    gap: unset;
    height: 23.4375vw;
  }
  #Section04 .event-item .text-item {
    gap: 0.78125vw;
  }
  #Section04 .event-item .text-item .item-title {
    padding-bottom: 1.953125vw;
  }
  #Section04 .event-item .text-item .item-title span {
    font-size: 1.953125vw;
    color: #bfbfbf;
  }
  #Section04 .event-item .text-item .item-title h5 {
    font-size: 2.734375vw;
    font-weight: 800;
    padding-left: 1.953125vw;
  }
  #Section04 .event-item .text-item p {
    font-size: 2.34375vw;
    line-height: 1.4;
    color: #dedede;
    letter-spacing: -0.5px;
  }
  #Section04 .event-item:nth-child(2) {
    flex-direction: column;
    min-height: 46.875vw;
  }
  #Section04 .event-item:nth-child(2) .event-img {
    height: 17.96875vw;
  }
  #Section04 .event-item:nth-child(3) {
    position: relative;
    background: url("/assets/images/section_04_mo_bg.png") no-repeat center center;
    background-size: cover;
    min-height: 31.25vw;
  }
  #Section04 .event-item:nth-child(3) .event-img {
    position: absolute;
    right: 3.90625vw;
    bottom: 0;
  }
  #Section05 {
    background: url("/assets/images/section_05_bg.png") no-repeat center center, #001a38;
    background-size: cover;
  }
  #Section05 .container {
    padding: 9.765625vw 3.90625vw;
    gap: 4.6875vw;
  }
  #Section05 .text-item {
    gap: 1.953125vw;
  }
  #Section05 .text-item h5 {
    font-size: 2.34375vw;
  }
  #Section05 .text-item li {
    font-size: 2.34375vw;
    letter-spacing: -0.1px;
  }
  #Section06 .container {
    gap: 3.90625vw;
    padding: 10.15625vw;
  }
  #Section06 .container .title h5 {
    font-size: 3.125vw;
    font-weight: 800;
  }
  #Section06 .button-group {
    gap: 1.5625vw;
  }
  #Section06 .button-group button {
    width: 31.25vw;
    height: 7.8125vw;
    font-size: 2.34375vw;
  }
  footer {
    padding: 5.859375vw 3.90625vw;
  }
  footer .container {
    padding: unset;
  }
  footer .footer-list {
    gap: 0.78125vw;
  }
  footer .footer-list ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.78125vw;
  }
  footer .footer-list ul li {
    font-size: 2.34375vw;
  }
  footer .footer-list .family-site.show .site-title {
    border-radius: 0 0 1.171875vw 1.171875vw;
  }
  footer .footer-list .family-site.show .site-list {
    border-radius: 1.171875vw 1.171875vw 0 0;
  }
  footer .footer-list .family-site .site-title {
    width: 23.4375vw;
    height: 6.25vw;
    border-radius: 1.171875vw;
    padding: 1.171875vw 2.34375vw;
  }
  footer .footer-list .family-site .site-title p {
    font-size: 2.34375vw;
  }
  footer .footer-list .family-site .site-title span.chevron-down {
    display: flex;
    align-items: center;
  }
  footer .footer-list .family-site .site-title span.chevron-down svg {
    width: 2.734375vw;
    height: 2.734375vw;
  }
  footer .footer-list .family-site .site-list {
    bottom: 6.25vw;
    border-radius: 1.171875vw;
  }
  footer .footer-list .family-site .site-list ul li a {
    font-size: 2.34375vw;
    padding: 1.171875vw 2.34375vw;
  }
  footer .bottom .raon-logo {
    height: 4.6875vw;
  }
  footer .bottom .copyright {
    font-size: 2.34375vw;
  }
  .button-group {
    margin-top: unset;
  }
  .button-group button.btn-pre {
    width: 34.1796875vw;
    height: 7.8125vw;
    font-size: 2.34375vw;
    padding: 1.953125vw;
    background: #008cdd;
  }
  .item-group {
    position: unset;
    top: unset;
    display: flex;
    flex-direction: column;
    column-count: auto;
    gap: 3.125vw;
    width: 100%;
  }
  .item-group.left {
    top: unset;
    right: unset;
  }
  .item-group.right {
    right: unset;
  }
  .item-box {
    gap: 1.5625vw;
    width: 60%;
    height: 31.25vw;
    padding: 3.90625vw;
    border-radius: 1.5625vw;
  }
  .item-box:first-child {
    align-self: flex-end;
  }
  .item-box p.name {
    position: relative;
    font-size: 2.734375vw;
    padding-left: 2.734375vw;
  }
  .item-box p.name::before {
    height: 2.734375vw;
  }
  .item-box li {
    font-size: 2.34375vw;
  }
  .table-wrapper table th {
    height: vvw(80);
  }
  .table-wrapper table tr td.time, .table-wrapper table tr td.required, .table-wrapper table tr td.content {
    border-bottom: 1px solid #595b7e;
  }
  .table-wrapper table tr:first-child td.required {
    border-top: unset;
  }
  .table-wrapper table tr:last-child td.time {
    border-bottom: 1px solid #595b7e;
  }
  .table-wrapper table th.speaker,
  .table-wrapper table td.speaker {
    display: none;
  }
  .table-wrapper table th > div,
  .table-wrapper table td > div {
    gap: 0.78125vw;
  }
  .table-wrapper table th > div i.icon svg,
  .table-wrapper table td > div i.icon svg {
    width: 2.34375vw;
    height: 2.34375vw;
  }
  .table-wrapper table th p,
  .table-wrapper table td p {
    vertical-align: middle;
    font-size: 1.953125vw;
  }
  .table-wrapper table .time {
    width: 14.0625vw;
  }
  .table-wrapper table .required {
    width: 7.8125vw;
  }
  .table-wrapper table .required p {
    white-space: nowrap;
  }
  .table-wrapper table .content {
    width: unset;
  }
  .table-wrapper table .speaker {
    width: unset;
  }
  .table-wrapper table td {
    vertical-align: middle;
  }
  .table-wrapper table td.time {
    font-size: 1.953125vw;
  }
  .table-wrapper table td.content > div {
    min-height: 7.8125vw;
    padding: 1.5625vw 0;
    gap: 0.78125vw;
  }
  .table-wrapper table td.content > div p {
    font-size: 1.953125vw;
    font-weight: 500;
    letter-spacing: -0.3px;
    padding-left: 3.125vw;
    padding-right: 3.125vw;
  }
  .table-wrapper table td.content > div p.mo-only {
    color: #9AB0FF !important;
  }
  .table-wrapper table td.content > div.table-bg-green {
    background: rgba(233, 239, 255, 0.1);
  }
  .table-wrapper table td.content.colspan p {
    text-align: left;
  }
  .table-wrapper table td.required {
    text-align: center;
    font-weight: 700;
    color: #bfbfbf;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 4.1666666667vw;
  }
  .mo-only {
    display: block !important;
  }
  .container {
    width: 100%;
    max-width: unset;
    margin: 0 auto;
    padding: 0 5.2083333333vw;
  }
  section .container {
    gap: 4.1666666667vw;
    padding: 10.4166666667vw 5.2083333333vw;
  }
  section .container .title {
    gap: 2.0833333333vw;
  }
  section .container .title h5 {
    font-size: 4.6875vw;
  }
  section .container .title p {
    font-size: 3.125vw;
  }
  #Main {
    background: url("/assets/images/hero_bg.png") no-repeat bottom left 40%, #000000;
    background-size: 180%;
  }
  #Main .main-content .container {
    gap: 8.3333333333vw;
    padding: 5.2083333333vw 5.2083333333vw 31.25vw 5.2083333333vw;
  }
  #Main .main-content .raon-logo {
    top: 5.2083333333vw;
    right: 5.2083333333vw;
    height: 5.2083333333vw;
  }
  #Main .main-content .title {
    gap: unset;
  }
  #Main .main-content .title span {
    font-size: 4.1666666667vw;
  }
  #Main .main-content .title h1 {
    font-size: 6.25vw;
  }
  #Main .main-content .title h5 {
    font-size: 3.6458333333vw;
  }
  #Main .main-content .text-item {
    gap: unset;
  }
  #Main .main-content .text-item ol {
    gap: 2.0833333333vw;
  }
  #Main .main-content .text-item ol li {
    gap: 1.0416666667vw;
  }
  #Main .main-content .text-item ol li p {
    font-size: 3.125vw;
  }
  #Main .main-content .text-item ol li p.label {
    max-width: 9.375vw;
    letter-spacing: 3.6458333333vw;
  }
  #Section01 {
    padding-bottom: 10.4166666667vw;
  }
  #Section01 .container {
    gap: 8.3333333333vw;
    padding: unset;
  }
  #Section01 .content-group {
    flex-direction: column;
    gap: 8.3333333333vw;
  }
  #Section01 .content-group .content-img {
    width: 100%;
  }
  #Section01 .content-group .text-item {
    padding: 0 5.2083333333vw;
    align-items: flex-start;
    gap: 6.25vw;
  }
  #Section01 .content-group .text-item span.line {
    display: block;
    width: 100%;
  }
  #Section01 .content-group .text-item h5 {
    font-size: 6.25vw;
    line-height: 1.2;
    letter-spacing: -0.5px;
    color: #dedede;
  }
  #Section01 .content-group .text-item ul {
    gap: 6.25vw;
  }
  #Section01 .content-group .text-item ul li p {
    font-size: 3.125vw;
    line-height: 1.5;
    letter-spacing: -0.5px;
  }
  #Section02 .container {
    overflow: hidden;
    gap: 7.8125vw;
  }
  #Section02 .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
  }
  #Section03 {
    display: none;
  }
  #Section04 {
    background: #001a38;
  }
  #Section04 .container {
    gap: 7.8125vw;
  }
  #Section04 .event-item {
    gap: unset;
    padding: 5.2083333333vw;
    border-radius: 2.6041666667vw;
    background: rgba(255, 255, 255, 0.1);
  }
  #Section04 .event-item .event-img {
    gap: unset;
    height: 31.25vw;
  }
  #Section04 .event-item .text-item {
    gap: 1.0416666667vw;
  }
  #Section04 .event-item .text-item .item-title {
    padding-bottom: 2.6041666667vw;
  }
  #Section04 .event-item .text-item .item-title span {
    font-size: 2.6041666667vw;
    color: #bfbfbf;
  }
  #Section04 .event-item .text-item .item-title h5 {
    font-size: 3.6458333333vw;
    font-weight: 800;
    padding-left: 2.6041666667vw;
  }
  #Section04 .event-item .text-item p {
    font-size: 3.125vw;
    line-height: 1.4;
    color: #dedede;
    letter-spacing: -0.5px;
  }
  #Section04 .event-item:nth-child(2) {
    flex-direction: column;
    min-height: 62.5vw;
  }
  #Section04 .event-item:nth-child(2) .event-img {
    height: 23.9583333333vw;
  }
  #Section04 .event-item:nth-child(3) {
    position: relative;
    background: url("/assets/images/section_04_mo_bg.png") no-repeat center center;
    background-size: cover;
    min-height: 41.6666666667vw;
  }
  #Section04 .event-item:nth-child(3) .event-img {
    position: absolute;
    right: 5.2083333333vw;
    bottom: 0;
  }
  #Section05 {
    background: url("/assets/images/section_05_bg.png") no-repeat center center, #001a38;
    background-size: cover;
  }
  #Section05 .container {
    padding: 13.0208333333vw 5.2083333333vw;
    gap: 6.25vw;
  }
  #Section05 .text-item {
    gap: 2.6041666667vw;
  }
  #Section05 .text-item h5 {
    font-size: 3.125vw;
  }
  #Section05 .text-item li {
    font-size: 3.125vw;
    letter-spacing: -0.1px;
  }
  #Section06 .container {
    gap: 5.2083333333vw;
    padding: 13.5416666667vw;
  }
  #Section06 .container .title h5 {
    font-size: 4.1666666667vw;
    font-weight: 800;
  }
  #Section06 .button-group {
    gap: 2.0833333333vw;
  }
  #Section06 .button-group button {
    width: 41.6666666667vw;
    height: 10.4166666667vw;
    font-size: 3.125vw;
  }
  footer {
    padding: 7.8125vw 5.2083333333vw;
  }
  footer .container {
    padding: unset;
  }
  footer .footer-list {
    gap: 1.0416666667vw;
  }
  footer .footer-list ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.0416666667vw;
  }
  footer .footer-list ul li {
    font-size: 3.125vw;
  }
  footer .footer-list .family-site.show .site-title {
    border-radius: 0 0 1.5625vw 1.5625vw;
  }
  footer .footer-list .family-site.show .site-list {
    border-radius: 1.5625vw 1.5625vw 0 0;
  }
  footer .footer-list .family-site .site-title {
    width: 31.25vw;
    height: 8.3333333333vw;
    border-radius: 1.5625vw;
    padding: 1.5625vw 3.125vw;
  }
  footer .footer-list .family-site .site-title p {
    font-size: 3.125vw;
  }
  footer .footer-list .family-site .site-title span.chevron-down {
    display: flex;
    align-items: center;
  }
  footer .footer-list .family-site .site-title span.chevron-down svg {
    width: 3.6458333333vw;
    height: 3.6458333333vw;
  }
  footer .footer-list .family-site .site-list {
    bottom: 8.3333333333vw;
    border-radius: 1.5625vw;
  }
  footer .footer-list .family-site .site-list ul li a {
    font-size: 3.125vw;
    padding: 1.5625vw 3.125vw;
  }
  footer .bottom .raon-logo {
    height: 6.25vw;
  }
  footer .bottom .copyright {
    font-size: 3.125vw;
  }
  .button-group {
    margin-top: unset;
  }
  .button-group button.btn-pre {
    width: 45.5729166667vw;
    height: 10.4166666667vw;
    font-size: 3.125vw;
    padding: 2.6041666667vw;
    background: #008cdd;
  }
  .item-group {
    position: unset;
    top: unset;
    display: flex;
    flex-direction: column;
    column-count: auto;
    gap: 4.1666666667vw;
    width: 100%;
  }
  .item-group.left {
    top: unset;
    right: unset;
  }
  .item-group.right {
    right: unset;
  }
  .item-box {
    gap: 2.0833333333vw;
    width: 60%;
    height: 41.6666666667vw;
    padding: 5.2083333333vw;
    border-radius: 2.0833333333vw;
  }
  .item-box:first-child {
    align-self: flex-end;
  }
  .item-box p.name {
    position: relative;
    font-size: 3.6458333333vw;
    padding-left: 3.6458333333vw;
  }
  .item-box p.name::before {
    height: 3.6458333333vw;
  }
  .item-box li {
    font-size: 3.125vw;
  }
  .table-wrapper table th {
    height: vvw(80);
  }
  .table-wrapper table tr td.time, .table-wrapper table tr td.required, .table-wrapper table tr td.content {
    border-bottom: 1px solid #595b7e;
  }
  .table-wrapper table tr:first-child td.required {
    border-top: unset;
  }
  .table-wrapper table tr:last-child td.time {
    border-bottom: 1px solid #595b7e;
  }
  .table-wrapper table th.speaker,
  .table-wrapper table td.speaker {
    display: none;
  }
  .table-wrapper table th > div,
  .table-wrapper table td > div {
    gap: 1.0416666667vw;
  }
  .table-wrapper table th > div i.icon svg,
  .table-wrapper table td > div i.icon svg {
    width: 3.125vw;
    height: 3.125vw;
  }
  .table-wrapper table th p,
  .table-wrapper table td p {
    vertical-align: middle;
    font-size: 2.6041666667vw;
  }
  .table-wrapper table .time {
    width: 18.75vw;
  }
  .table-wrapper table .required {
    width: 10.4166666667vw;
  }
  .table-wrapper table .required p {
    white-space: nowrap;
  }
  .table-wrapper table .content {
    width: unset;
  }
  .table-wrapper table .speaker {
    width: unset;
  }
  .table-wrapper table td {
    vertical-align: middle;
  }
  .table-wrapper table td.time {
    font-size: 2.6041666667vw;
  }
  .table-wrapper table td.content > div {
    min-height: 10.4166666667vw;
    padding: 2.0833333333vw 0;
    gap: 1.0416666667vw;
  }
  .table-wrapper table td.content > div p {
    font-size: 2.6041666667vw;
    font-weight: 500;
    letter-spacing: -0.3px;
    padding-left: 4.1666666667vw;
    padding-right: 4.1666666667vw;
  }
  .table-wrapper table td.content > div p.mo-only {
    color: #9AB0FF !important;
  }
  .table-wrapper table td.content > div.table-bg-green {
    background: rgba(233, 239, 255, 0.1);
  }
  .table-wrapper table td.content.colspan p {
    text-align: left;
  }
  .table-wrapper table td.required {
    text-align: center;
    font-weight: 700;
    color: #bfbfbf;
  }
}

/*# sourceMappingURL=index.css.map */
