@media (max-width: 1024px) {
  $mobile-size: 1024 !global;

  body {
    font-size: vw(16 * 2);
  }

  .mo-only {
    display: block !important;
  }

  .container {
    width: 100%;
    max-width: unset;
    margin: 0 auto;
    padding: 0 vw(20 * 2);
  }

  section {
    .container {
      gap: vw(16 * 2);
      padding: vw(40 * 2) vw(20 * 2);
      .title {
        gap: vw(8 * 2);
        h5 {
          font-size: vw(18 * 2);
        }
        p {
          font-size: vw(12 * 2);
        }
      }
    }
  }

  #Main {
    background: url("/assets/images/hero_bg.png") no-repeat bottom left 40%,
      #000000;
    background-size: 180%;
    .main-content {
      .container {
        gap: vw(32 * 2);
        padding: vw(20 * 2) vw(20 * 2) vw(120 * 2) vw(20 * 2);
      }
      .raon-logo {
        top: vw(20 * 2);
        right: vw(20 * 2);
        height: vw(20 * 2);
      }
      .title {
        gap: unset;
        span {
          font-size: vw(16 * 2);
        }
        h1 {
          font-size: vw(24 * 2);
        }
        h5 {
          font-size: vw(14 * 2);
        }
      }
      .text-item {
        gap: unset;

        ol {
          gap: vw(8 * 2);
          li {
            gap: vw(4 * 2);
            p {
              font-size: vw(12 * 2);
              &.label {
                max-width: vw(36 * 2);
                letter-spacing: vw(14 * 2);
              }
            }
          }
        }
      }
    }
  }
  #Section01 {
    padding-bottom: vw(40 * 2);
    .container {
      gap: vw(32 * 2);
      padding: unset;
    }
    .content-group {
      flex-direction: column;
      gap: vw(32 * 2);
      .content-img {
        width: 100%;
      }
      .text-item {
        padding: 0 vw(20 * 2);
        align-items: flex-start;
        gap: vw(24 * 2);
        max-width: unset;
        span.line {
          display: block;
          width: 100%;
        }
        h5 {
          font-size: vw(24 * 2);
          line-height: 1.2;
          letter-spacing: -0.5px;
          color: $G30;
        }
        ul {
          gap: vw(24 * 2);
          li {
            p {
              font-size: vw(12 * 2);
              line-height: 1.5;
              letter-spacing: -0.5px;
            }
          }
        }
      }
    }
  }
  #Section02 {
    .container {
      overflow: hidden;
      gap: vw(30 * 2);
    }
    .bg-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
    }
  }
  #Section03 {
    display: none;
  }

  #Section04 {
    background: #001a38;
    .container {
      gap: vw(30 * 2);
    }
    .event-item {
      gap: unset;
      padding: vw(20 * 2);
      border-radius: vw(10 * 2);
      background: rgba($color: $G00, $alpha: 0.1);

      .event-img {
        gap: unset;
        height: vw(120 * 2);
      }

      .text-item {
        gap: vw(4 * 2);
        .item-title {
          padding-bottom: vw(10 * 2);
          span {
            font-size: vw(10 * 2);
            color: $G40;
          }
          h5 {
            font-size: vw(14 * 2);
            font-weight: 800;
            padding-left: vw(10 * 2);
          }
        }
        p {
          font-size: vw(12 * 2);
          line-height: 1.4;
          color: $G30;
          letter-spacing: -0.5px;
        }
      }

      &:nth-child(2) {
        flex-direction: column;
        min-height: vw(240 * 2);

        .event-img {
          height: vw(92 * 2);
        }
      }
      &:nth-child(3) {
        position: relative;
        background: url("/assets/images/section_04_mo_bg.png") no-repeat center
          center;
        background-size: cover;
        min-height: vw(160 * 2);

        .event-img {
          position: absolute;
          right: vw(20 * 2);
          bottom: 0;
        }
      }
    }
  }
  #Section05 {
    background: url("/assets/images/section_05_bg.png") no-repeat center center,
      #001a38;
    background-size: cover;
    .container {
      padding: vw(50 * 2) vw(20 * 2);
      gap: vw(24 * 2);
    }
    .text-item {
      gap: vw(10 * 2);
      h5 {
        font-size: vw(12 * 2);
      }
      li {
        font-size: vw(12 * 2);
        letter-spacing: -0.1px;
      }
    }
  }
  #Section06 {
    .container {
      gap: vw(20 * 2);
      padding: vw(52 * 2);

      .title {
        h5 {
          font-size: vw(16 * 2);
          font-weight: 800;
        }
      }
    }

    .button-group {
      gap: vw(8 * 2);
      button {
        width: vw(160 * 2);
        height: vw(40 * 2);
        font-size: vw(12 * 2);
      }
    }
  }
  footer {
    padding: vw(30 * 2) vw(20 * 2);

    .container {
      padding: unset;
    }
    .footer-list {
      gap: vw(4 * 2);
      ul {
        flex-direction: column;
        align-items: flex-start;
        gap: vw(4 * 2);
        li {
          font-size: vw(12 * 2);
        }
      }
      .family-site {
        &.show {
          .site-title {
            border-radius: 0 0 vw(6 * 2) vw(6 * 2);
          }
          .site-list {
            border-radius: vw(6 * 2) vw(6 * 2) 0 0;
          }
        }
        .site-title {
          width: vw(120 * 2);
          height: vw(32 * 2);
          border-radius: vw(6 * 2);
          padding: vw(6 * 2) vw(12 * 2);
          p {
            font-size: vw(12 * 2);
          }
          span.chevron-down {
            display: flex;
            align-items: center;
            svg {
              width: vw(14 * 2);
              height: vw(14 * 2);
            }
          }
        }
        .site-list {
          bottom: vw(32 * 2);
          border-radius: vw(6 * 2);
          ul {
            li {
              a {
                font-size: vw(12 * 2);
                padding: vw(6 * 2) vw(12 * 2);
              }
            }
          }
        }
      }
    }

    .bottom {
      .raon-logo {
        height: vw(24 * 2);
      }
      .copyright {
        font-size: vw(12 * 2);
      }
    }
  }

  .button-group {
    margin-top: unset;
    button.btn-pre {
      width: vw(175 * 2);
      height: vw(40 * 2);
      font-size: vw(12 * 2);
      padding: vw(10 * 2);
      background: #008cdd;
    }
  }
  .item-group {
    position: unset;
    top: unset;
    display: flex;
    flex-direction: column;
    column-count: auto;
    gap: vw(16 * 2);
    width: 100%;

    &.left {
      top: unset;
      right: unset;
    }
    &.right {
      right: unset;
    }
  }

  .item-box {
    gap: vw(8 * 2);
    width: 60%;
    height: vw(160 * 2);
    padding: vw(20 * 2);
    border-radius: vw(8 * 2);

    &:first-child {
      align-self: flex-end;
    }

    p.name {
      position: relative;
      font-size: vw(14 * 2);
      padding-left: vw(14 * 2);

      &::before {
        height: vw(14 * 2);
      }
    }

    li {
      font-size: vw(12 * 2);
    }
  }

  .table-wrapper {
    table {
      th {
        height: vvw(40 * 2);
      }
      tr {
        td {
          &.time,
          &.required,
          &.content {
            // border-top: 1px solid #595b7e;
            border-bottom: 1px solid #595b7e;
          }
        }
        &:first-child {
          td {
            &.required {
              border-top: unset;
            }
          }
        }
        &:last-child {
          td {
            &.time {
              border-bottom: 1px solid #595b7e;
            }
          }
        }
      }
      th,
      td {
        &.speaker {
          display: none;
        }
        > div {
          gap: vw(4 * 2);

          i.icon {
            svg {
              width: vw(12 * 2);
              height: vw(12 * 2);
            }
          }
        }
        p {
          vertical-align: middle;
          font-size: vw(10 * 2);
        }
      }

      .time {
        width: vw(72 * 2);
      }
      .required {
        width: vw(40 * 2);
        p {
          white-space: nowrap;
        }
      }
      .content {
        width: unset;
      }
      .speaker {
        width: unset;
      }

      tr {
        &:first-child {
          td {
            // border-top: unset;
          }
        }
        &:last-child {
          td {
            // border-bottom: unset;
          }
        }
      }

      td {
        vertical-align: middle;

        &.time {
          font-size: vw(10 * 2);
        }
        &.content {
          > div {
            min-height: vw(40 * 2);
            padding: vw(8 * 2) 0;
            gap: vw(4 * 2);
            p {
              font-size: vw(10 * 2);
              font-weight: 500;
              letter-spacing: -0.3px;
              padding-left: vw(16 * 2);
              padding-right: vw(16 * 2);

              &.mo-only {
                color: $table-color-blue !important;
              }
            }
            &.table-bg-green {
              background: rgba($color: $table-bg-green, $alpha: 0.1);
            }
          }
          &.colspan {
            p {
              text-align: left;
            }
          }
        }
        &.required {
          text-align: center;
          font-weight: 700;
          color: $G40;
        }
        // &.content {
        //   font-weight: 500;
        //   p {
        //     position: relative;
        //     justify-content: flex-start;
        //     padding-left: 1.375rem;
        //     padding-right: 1rem;
        //     border-radius: 0.375rem;
        //     overflow: hidden;

        //     &::before {
        //       content: "";
        //       position: absolute;
        //       top: 0;
        //       left: 0;
        //       width: 0.375rem;
        //       height: 100%;
        //     }
        //     &.table-bg-green {
        //       color: $table-color-green;
        //       // background: rgba($color: $G00, $alpha: 0.1);
        //       &::before {
        //         background: $table-marker-green;
        //       }
        //     }
        //     &.table-bg-lightblue {
        //       color: $table-color-lightblue;
        //       background: rgba($color: $G00, $alpha: 0.1);
        //       &::before {
        //         background: $table-marker-lightblue;
        //       }
        //     }
        //     &.table-bg-blue {
        //       color: $table-color-blue;
        //       background: rgba($color: $table-marker-blue, $alpha: 0.1);
        //       &::before {
        //         background: $table-marker-blue;
        //       }
        //     }
        //   }
        // }
      }
    }
  }
}
@media (max-width: 768px) {
  $mobile-size: 768 !global;

  body {
    font-size: vw(16 * 2);
  }

  .mo-only {
    display: block !important;
  }

  .container {
    width: 100%;
    max-width: unset;
    margin: 0 auto;
    padding: 0 vw(20 * 2);
  }

  section {
    .container {
      gap: vw(16 * 2);
      padding: vw(40 * 2) vw(20 * 2);
      .title {
        gap: vw(8 * 2);
        h5 {
          font-size: vw(18 * 2);
        }
        p {
          font-size: vw(12 * 2);
        }
      }
    }
  }

  #Main {
    background: url("/assets/images/hero_bg.png") no-repeat bottom left 40%,
      #000000;
    background-size: 180%;
    .main-content {
      .container {
        gap: vw(32 * 2);
        padding: vw(20 * 2) vw(20 * 2) vw(120 * 2) vw(20 * 2);
      }
      .raon-logo {
        top: vw(20 * 2);
        right: vw(20 * 2);
        height: vw(20 * 2);
      }
      .title {
        gap: unset;
        span {
          font-size: vw(16 * 2);
        }
        h1 {
          font-size: vw(24 * 2);
        }
        h5 {
          font-size: vw(14 * 2);
        }
      }
      .text-item {
        gap: unset;

        ol {
          gap: vw(8 * 2);
          li {
            gap: vw(4 * 2);
            p {
              font-size: vw(12 * 2);
              &.label {
                max-width: vw(36 * 2);
                letter-spacing: vw(14 * 2);
              }
            }
          }
        }
      }
    }
    // .overlay {
    //   padding: vw(10 * 2) vw(40 * 2);

    //   .container {
    //     flex-direction: column;
    //     gap: vw(8 * 2);
    //   }
    //   ul {
    //     display: flex;
    //     column-count: auto;
    //     align-items: center;
    //     gap: vw(12 * 2);
    //     &:first-child {
    //       order: 2;
    //     }
    //     &:last-child {
    //       order: 1;
    //     }
    //     li {
    //       font-size: vw(10 * 2);
    //       &:first-child {
    //         &::after {
    //           margin-left: vw(12 * 2);
    //         }
    //       }
    //       img {
    //         height: vw(16 * 2);
    //       }
    //     }
    //   }
    // }
  }
  #Section01 {
    padding-bottom: vw(40 * 2);
    .container {
      gap: vw(32 * 2);
      padding: unset;
    }
    .content-group {
      flex-direction: column;
      gap: vw(32 * 2);
      .content-img {
        width: 100%;
      }
      .text-item {
        padding: 0 vw(20 * 2);
        align-items: flex-start;
        gap: vw(24 * 2);
        span.line {
          display: block;
          width: 100%;
        }
        h5 {
          font-size: vw(24 * 2);
          line-height: 1.2;
          letter-spacing: -0.5px;
          color: $G30;
        }
        ul {
          gap: vw(24 * 2);
          li {
            p {
              font-size: vw(12 * 2);
              line-height: 1.5;
              letter-spacing: -0.5px;
            }
          }
        }
      }
    }
  }
  #Section02 {
    .container {
      overflow: hidden;
      gap: vw(30 * 2);
    }
    .bg-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
    }
  }
  #Section03 {
    display: none;
  }

  #Section04 {
    background: #001a38;
    .container {
      gap: vw(30 * 2);
    }
    .event-item {
      gap: unset;
      padding: vw(20 * 2);
      border-radius: vw(10 * 2);
      background: rgba($color: $G00, $alpha: 0.1);

      .event-img {
        gap: unset;
        height: vw(120 * 2);
      }

      .text-item {
        gap: vw(4 * 2);
        .item-title {
          padding-bottom: vw(10 * 2);
          span {
            font-size: vw(10 * 2);
            color: $G40;
          }
          h5 {
            font-size: vw(14 * 2);
            font-weight: 800;
            padding-left: vw(10 * 2);
          }
        }
        p {
          font-size: vw(12 * 2);
          line-height: 1.4;
          color: $G30;
          letter-spacing: -0.5px;
        }
      }

      &:nth-child(2) {
        flex-direction: column;
        min-height: vw(240 * 2);

        .event-img {
          height: vw(92 * 2);
        }
      }
      &:nth-child(3) {
        position: relative;
        background: url("/assets/images/section_04_mo_bg.png") no-repeat center
          center;
        background-size: cover;
        min-height: vw(160 * 2);

        .event-img {
          position: absolute;
          right: vw(20 * 2);
          bottom: 0;
        }
      }
    }
  }
  #Section05 {
    background: url("/assets/images/section_05_bg.png") no-repeat center center,
      #001a38;
    background-size: cover;
    .container {
      padding: vw(50 * 2) vw(20 * 2);
      gap: vw(24 * 2);
    }
    .text-item {
      gap: vw(10 * 2);
      h5 {
        font-size: vw(12 * 2);
      }
      li {
        font-size: vw(12 * 2);
        letter-spacing: -0.1px;
      }
    }
  }
  #Section06 {
    .container {
      gap: vw(20 * 2);
      padding: vw(52 * 2);

      .title {
        h5 {
          font-size: vw(16 * 2);
          font-weight: 800;
        }
      }
    }

    .button-group {
      gap: vw(8 * 2);
      button {
        width: vw(160 * 2);
        height: vw(40 * 2);
        font-size: vw(12 * 2);
      }
    }
  }
  footer {
    padding: vw(30 * 2) vw(20 * 2);

    .container {
      padding: unset;
    }
    .footer-list {
      gap: vw(4 * 2);
      ul {
        flex-direction: column;
        align-items: flex-start;
        gap: vw(4 * 2);
        li {
          font-size: vw(12 * 2);
        }
      }
      .family-site {
        &.show {
          .site-title {
            border-radius: 0 0 vw(6 * 2) vw(6 * 2);
          }
          .site-list {
            border-radius: vw(6 * 2) vw(6 * 2) 0 0;
          }
        }
        .site-title {
          width: vw(120 * 2);
          height: vw(32 * 2);
          border-radius: vw(6 * 2);
          padding: vw(6 * 2) vw(12 * 2);
          p {
            font-size: vw(12 * 2);
          }
          span.chevron-down {
            display: flex;
            align-items: center;
            svg {
              width: vw(14 * 2);
              height: vw(14 * 2);
            }
          }
        }
        .site-list {
          bottom: vw(32 * 2);
          border-radius: vw(6 * 2);
          ul {
            li {
              a {
                font-size: vw(12 * 2);
                padding: vw(6 * 2) vw(12 * 2);
              }
            }
          }
        }
      }
    }

    .bottom {
      .raon-logo {
        height: vw(24 * 2);
      }
      .copyright {
        font-size: vw(12 * 2);
      }
    }
  }

  .button-group {
    margin-top: unset;
    button.btn-pre {
      width: vw(175 * 2);
      height: vw(40 * 2);
      font-size: vw(12 * 2);
      padding: vw(10 * 2);
      background: #008cdd;
    }
  }
  .item-group {
    position: unset;
    top: unset;
    display: flex;
    flex-direction: column;
    column-count: auto;
    gap: vw(16 * 2);
    width: 100%;

    &.left {
      top: unset;
      right: unset;
    }
    &.right {
      right: unset;
    }
  }

  .item-box {
    gap: vw(8 * 2);
    width: 60%;
    height: vw(160 * 2);
    padding: vw(20 * 2);
    border-radius: vw(8 * 2);

    &:first-child {
      align-self: flex-end;
    }

    p.name {
      position: relative;
      font-size: vw(14 * 2);
      padding-left: vw(14 * 2);

      &::before {
        height: vw(14 * 2);
      }
    }

    li {
      font-size: vw(12 * 2);
    }
  }

  .table-wrapper {
    table {
      th {
        height: vvw(40 * 2);
      }
      tr {
        td {
          &.time,
          &.required,
          &.content {
            // border-top: 1px solid #595b7e;
            border-bottom: 1px solid #595b7e;
          }
        }
        &:first-child {
          td {
            &.required {
              border-top: unset;
            }
          }
        }
        &:last-child {
          td {
            &.time {
              border-bottom: 1px solid #595b7e;
            }
          }
        }
      }
      th,
      td {
        &.speaker {
          display: none;
        }
        > div {
          gap: vw(4 * 2);

          i.icon {
            svg {
              width: vw(12 * 2);
              height: vw(12 * 2);
            }
          }
        }
        p {
          vertical-align: middle;
          font-size: vw(10 * 2);
        }
      }

      .time {
        width: vw(72 * 2);
      }
      .required {
        width: vw(40 * 2);
        p {
          white-space: nowrap;
        }
      }
      .content {
        width: unset;
      }
      .speaker {
        width: unset;
      }

      tr {
        &:first-child {
          td {
            // border-top: unset;
          }
        }
        &:last-child {
          td {
            // border-bottom: unset;
          }
        }
      }

      td {
        vertical-align: middle;

        &.time {
          font-size: vw(10 * 2);
        }
        &.content {
          > div {
            min-height: vw(40 * 2);
            padding: vw(8 * 2) 0;
            gap: vw(4 * 2);
            p {
              font-size: vw(10 * 2);
              font-weight: 500;
              letter-spacing: -0.3px;
              padding-left: vw(16 * 2);
              padding-right: vw(16 * 2);

              &.mo-only {
                color: $table-color-blue !important;
              }
            }
            &.table-bg-green {
              background: rgba($color: $table-bg-green, $alpha: 0.1);
            }
          }
          &.colspan {
            p {
              text-align: left;
            }
          }
        }
        &.required {
          text-align: center;
          font-weight: 700;
          color: $G40;
        }
        // &.content {
        //   font-weight: 500;
        //   p {
        //     position: relative;
        //     justify-content: flex-start;
        //     padding-left: 1.375rem;
        //     padding-right: 1rem;
        //     border-radius: 0.375rem;
        //     overflow: hidden;

        //     &::before {
        //       content: "";
        //       position: absolute;
        //       top: 0;
        //       left: 0;
        //       width: 0.375rem;
        //       height: 100%;
        //     }
        //     &.table-bg-green {
        //       color: $table-color-green;
        //       // background: rgba($color: $G00, $alpha: 0.1);
        //       &::before {
        //         background: $table-marker-green;
        //       }
        //     }
        //     &.table-bg-lightblue {
        //       color: $table-color-lightblue;
        //       background: rgba($color: $G00, $alpha: 0.1);
        //       &::before {
        //         background: $table-marker-lightblue;
        //       }
        //     }
        //     &.table-bg-blue {
        //       color: $table-color-blue;
        //       background: rgba($color: $table-marker-blue, $alpha: 0.1);
        //       &::before {
        //         background: $table-marker-blue;
        //       }
        //     }
        //   }
        // }
      }
    }
  }
}
