$primary: #4974d1;
$secondary: #9cafd8;
$brand: #ff8400;

$table-color-green: #68E8FF;
$table-marker-green: #24b0c9;
$table-bg-green: #E9EFFF1A;
$table-color-lightblue: #D9E1FF;
$table-marker-lightblue: #5272e9;
$table-bg-lightblue: #e9efff;
$table-color-blue: #9AB0FF;
$table-marker-blue: #3E64F1;
$table-bg-blue: #CEDCFF;

$error: #ff4d4d;

$G00: #ffffff;
$G10: #f5f5f7;
$G20: #efefef;
$G30: #dedede;
$G40: #bfbfbf;
$G50: #909090;
$G60: #666666;
$G70: #444444;
$G80: #333333;
$G90: #1a1a1a;
$G100: #000000;

$line-G20: #efefef;
$line-G30: #e5e5e5;
$line-G40: #d9d9d9;

$mobile-size: 0;
